.p-orderlist-controls {
  display: none;
}

.shadow {
  box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.6);
}

.common-shadow {
  box-shadow: inset 0px 0px 20px 5px rgba(130,130,130,0.6);
}

.uncommon-shadow {
  box-shadow: inset 0px 0px 20px 5px rgba(0,165,19,0.6);
}

.rare-shadow {
  box-shadow: inset 0px 0px 20px 5px rgba(0,105,165,0.6);
}

.epic-shadow {
  box-shadow: inset 0px 0px 20px 5px rgba(125,0,165,0.6);
}

.legendary-shadow {
  box-shadow: inset 0px 0px 20px 5px rgba(165,160,0,0.6);
}